#header{
				width: 1200px;
				height: 50px;
				line-height: 50px;
				margin: 0 auto;
				 
			}
			#header ul{
				width: 100%;
				height: 50px;
				display: flex;
				justify-content: space-around;
			}
			#header ul li{
				width: 100%;
				height: 50px;
				text-align: center;
				cursor: pointer;
			}
			#header ul li a{
				display: block;
				width: 100%;
				height: 100%;
				font-size: 16px;
				font-weight: bold;
			}
			#container{
				width: 1200px;
				height: 2900px;
				margin: 0 auto;
				border: 1px solid;
				border-radius: 20px;
				box-shadow: 15px 15px 15px lightblue;
				background-image: linear-gradient(to bottom right,#a8d8ea 25%,#aa96da 50%,#fcbad3 75%,#ffffd2 100%);
			}
			#container h2{
				padding: 20px;
				font-size: 24px;
			}
			#container div{
				width: 80%;
				height: 2800px;
				margin: 0 auto;
				/* border: 1px solid; */
				text-align: center;
				background-color: #f6e7b0;
				border-radius: 20px;
			}
			#container div h3{
				font-size: 20px;
				padding: 10px 0;
			}
			#container div img{
				display: block;
				margin: 0 auto;
				margin-top: 10px;
			}
			#container div p{
				text-indent: 2em;
				font-size: 14px;
				line-height: 30px;
			}
			#footer{
				width: 100%;
				height: 30px;
				line-height: 30px;
				background-color: #F4E7B0;
				text-align: center;
			}
			#footer p{
				font-size: 16px;
				
			}